<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","backgroundColor":"warm-ivory","textColor":"dark-espresso","className":"site-content wg-section","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull site-content wg-section has-dark-espresso-color has-warm-ivory-background-color has-text-color has-background">
	<!-- wp:group {"align":"wide","className":"wg-section__header","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide wg-section__header">
		<!-- wp:query-title {"type":"search","textAlign":"center","className":"wg-section__title","fontFamily":"headline"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:pattern {"slug":"worldgraph-child/posts"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
