<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="StoryOS Tests">
			<directory suffix=".php">./tests/unit</directory>
			<directory suffix=".php">./tests/integration</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">../wordpress/wp-content/plugins/storyos</directory>
		</include>
	</coverage>
</phpunit>
